<!DOCTYPE html>
<html>

<head>
    <title>The Riddle Game - Enter Name</title>
</head>

<body>
    <div>
        <div>
            <h1>Welcome to the Riddle Game</h1>
        </div>
        <div>
            <h2>Rules of the game:</h2>
            <ul>
            <li>Each riddle has a one word answer</li>
            <li>If you answer incorrectly, you will continue onto the next riddle</li>
            <li>There is no time limit to complete each riddle</li>
            </ul>
        </div>
        <div>
            <h2>To start the game, please enter your name:</h2>
        </div>
        <div>
            <form method="POST">
                <input type="text" placeholder="Type here..." name="player_name" id="player_name" autofocus/>
                <button>Submit</button>
            </form>
        </div>
    </div>
</body>

</html>
