<!DOCTYPE html>
<html>

<head>
    <title>The Riddle Game - Game</title>
</head>

<body>
    <!--Display current riddle-->
    <div>
        <p>If at any time you want to give up, just type --> QUIT</p>
    </div>
    <!--Display current riddle-->
    <div>
        <p>{{ riddles[riddle_number]["riddle"] }}</p>
    </div>
    <!--Answer form-->
    <div>
        <form method="POST">
            <input type="text" placeholder="Type answer here..." name="guess" id="guess" autocomplete="off" autofocus/>
            <input type="hidden" name="riddle_number" id="riddle_number" value= {{riddle_number}} />
            <button>Submit</button>
        </form>

        {% with messages = get_flashed_messages() %} 
            {% if messages %} 
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %} 
            {% endif %} 
        {% endwith %}
    </div>
    <div>
        <h3>Incorrect Answers</h3>
            <table>
                <tr>
                    <th>Level</th>
                    <th>Name</th>
                    <th>Answer</th>
                </tr>
        {% for list in incorrect_answers %}
        <tr>
            <td>{{ list[0] }}</td>
            <td>{{ list[1] }}</td>
            <td>{{ list[2] }}</td>
        </tr>
        {% endfor %}
    </div>
</body>

</html>
