<!DOCTYPE html>
<html>

<head>
    <title>The Riddle Game - Game</title>
</head>

<body>
    <!--Display current riddle-->
    <div>
        {{ riddles[riddle_number]["riddle"] }}
    </div>
    <!--Answer form-->
    <div>
        <form method="POST">
            <input type="text" placeholder="Type answer here..." name="guess" id="guess" autofocus/>
            <input type="hidden" name="riddle_number" id = "riddle_number" value = {{riddle_number}} />
            <button>Submit</button>
        </form>
    </div>
</body>

</html>
