{% extends "base.html" %} {% block content %}
<div class="row spacing-15">
    <div class="col-12">
        <div class="progress">
            <div class="progress-bar" style="width:{{ game_percentage }}%" role="progressbar" aria-valuenow="{{ game_percentage }}" aria-valuemin="0" aria-valuemax="100">{{ game_percentage }}%</div>
        </div>
    </div>
</div>
<div class="row spacing-15">
    <div class="col-12">
        <div class="riddle text-center bg-dark">
            {{ riddles[riddle_number]["riddle"] }}
        </div>
    </div>
</div>
<div class="row spacing-15">
    <div class="col-12">
        <form method="POST">
            <input class="form-control text-center" type="text" placeholder="TYPE ANSWER HERE..." name="guess" autocomplete="off" autofocus/>
            <input type="hidden" name="riddle_number" id="riddle_number" value={{ riddle_number }} />
            <button type="submit" class="col-md-12 btn btn-outline-success btn-block btn-custom">CHECK ANSWER</button>
        </form>
    </div>
</div>
<div class="row spacing-30">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div class="col-12 incorrect-answer text-center">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
</div>
<div class="row">
        <div class="reveal col-9 text-center accordion">
            REVEAL PREVIOUS INCORRECT ANSWERS
        </div>
        <div class="col-3">
            <button id ="btn-ia" class="btn" data-toggle="collapse" data-target="#incorrect-answers-table">
                     <i class="fas fa-toggle-off fa-lg"></i>
                </button>
        </div>
    </div>
    <div id="incorrect-answers-table" class="collapse collapsed" data-parent="#accordion">
        <table class="table table-dark title text-center">
            <thead>
                <tr>
                    <th scope="col">PLAYER NAME</th>
                    <th scope="col">WRONG ANSWER</th>
                </tr>
            </thead>
            <tbody>
                {% for list in incorrect_answers %} {% if list[0] == string_riddle_number %}
                <tr>
                    <td>{{ list[1] }}</td>
                    <td>{{ list[2] }}</td>
                </tr>
                {% endif %} {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
